%script{type:"text/javascript", src:"http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
.container 
  .row
    .span12
      #map_home_page
        %h1
          %span 
            A great place to find goods
        
  .row
    .span12
      .input_search
        .before#locate_me
        %input.input-block-level#search_box{type:"text", placeholder:"Current Address or anything"}
        .after#find_address

  .row
    .span12
      %h1{style:"display: none"}
        Items Around You
      .spinner{style:"display:none"}
        = image_tag "ajax-loader.gif"
  .row
    .span12 
      .item_picture_list
        = render partial:"items/items", locals:{items: @items}


  :javascript
    $(document).ready(initialize_gmaps_autocomplete());

    function initialize_gmaps_autocomplete() {
      var input = document.getElementById('search_box');
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.setTypes(['geocode']);
    }
