%script{src:"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"}
.row
  .span12
    #map
      cwblah"
.row
  .span12
    .input_search
      .before#locate_me
      %input.input-block-level#search{type:"text", placeholder:"Address"}
      .after
