.container
  .row 
    .span12
      %h1 
        Around Me
    

      - Category.all.each do |category|
        = check_box_tag category.name.downcase, category.id, checked:true
        = category.name
      %h3
        We found this around you
  .row
    .span12

      .item_picture_list
        = render partial:"items", locals:{items: @items}

  .row
    .span12
      .spinner{style:"display:none"}
        = image_tag "ajax-loader.gif"
