.container
  .row 
    .span12
    %h1 
      Around Me
    %h3
      We found 
      =pluralize(@items.length, "item")
      around you

    /= render partial:"layouts/map", locals:{place: @locations}

    .item_picture_list
      = render partial:"items"

    = will_paginate @locations
