/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body{
  background-color: #F5F5F5;
}

body{
  padding: 40px 0 0 0;
}

#map{
  width: 100%;
  height: 50px;
  background-color: red;
  border-radius-bottom: 10px;
}

#search{
  background-color: blue;
  width:100%;
  border: 0px;
  height: 30px;
  color: grey;
  font-size: 20px;
  text-align: center;
}

.input-prepend .ad-on, .input-append > span{
  width: 100%;
}

.search_map {
  overflow: hidden;
}

.search_map > *{
  float: left;
}

.search_map .locate_me, .search_map .go{
  background-color: green;
  width: 10%;
  height: 10px;
  float: left;
}


.search_map #search{
  width: 80%;
  float: left;
}

