// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_picture_list{
  margin: 0 auto;
  overflow: hidden
}

.item_picture{
  float: left;
  width: 200px;
  height: 200px;
  background: red;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
}

.item_picture a, .item_picture p {
  background-color: rgba(255, 255, 255, 0.4);
  display: inline;
}

.item_picutre h1{
  font-size: 10px;
}


.spinner img{
  display: block;
  margin: 0 auto;
}
