.cool
  - if !place.nil? && !place.empty?
    = gmaps("map_options" => {"zoom" => 10, "auto_zoom" => place.length > 1, id: "map#{place.first.id}"}, 
        "markers" => {"data" => place.to_gmaps4rails}) 
